.library-section {
  padding: 50px;
  position: relative;
  background: url('../../../public/assets/library.jpeg') no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: 180vh;
  width: 100%;
  overflow: hidden; /* Ensure that the overlay stays within the container */
}

/* Add the overlay using ::before */
.library-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 54, 0.8); /* This is the translucent color */
  z-index: 1; /* Ensure the overlay is above the background image */
}

.library-div{
  z-index: 3;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.Explore-btn{
  font-size: 1.2rem;
  margin-top: 30PX;
  margin-bottom: 30px;
  padding: 10PX 25PX;
  border: none;
  border-radius: 15PX;
  /* background-color: #517CF8 ; */
  background-color: rgba(179, 195, 247, 0.5);
  /* background: linear-gradient(135deg, #517CF8, #000f66); */
  color: #fff;
}

.Explore-btn:hover{
  cursor: pointer;
  color: #f5f5f5;
  /* background-color: #000f66; */
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  background-color: rgba(1, 12, 75, 0.8) ;
}

.container {
  max-width: 90%; /* Adjust to fit the content */
  margin: 0 auto;
  padding: 20px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 30%); /* 3 cards per row, each 30% wide */
  gap: 5%; /* 10% gap between cards */
  justify-content: center;
}

.course-card {
  background-color: rgba(179, 195, 247, 0.3);
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: row; /* Ensure image and content stack vertically on smaller screens */
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  background-color: rgba(1, 12, 75, 0.8) ;

}

.card-image {
  border-radius: 15%;
  width: 100%;
  height: 100%;
  max-width: 100px; 
  object-fit: cover;
  margin-bottom: 15px; 
  padding: 10px 0px 0px 0px;
}

.card-content {
  text-align:left;
  padding: 0px 0px 0px 5% ;
  /* background-color: red; */
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-content p {
  color: #ffffff;
  font-size: 0.9rem;
}

.card-content a {
  color: #fafafa;
  font-weight: bold;
  text-decoration: none;
}

.card-content a:hover {
  text-decoration: underline;
}
